/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    font-family: "IBM Plex mono", sans-serif;
    background-color: var(--bg-color, #000028);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-width: var(--mobile-width);
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    padding: var(--default-padding);
    block-size: 100vh;
    align-items: center;
    min-height: var(--mobile-header-height);
}

h2,
h3,
h4,
button {
    font-size: inherit;
}

.header__theme-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.header__theme-menu-button {
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    padding: 2px 13px 4px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    text-transform: lowercase;
    color: var(--border-color, #ff0070);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color, #32312D66);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--color-for-button, #FF0070);
}

.header__theme-menu-button_active {
    outline: 1px solid currentColor;
    pointer-events: none;
}

.decorated-zone {
    min-height: 100%;
    position: relative;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    grid-row: 1/2;
    justify-self: end;
    block-size: 25px;
    inline-size: 25px;
    gap: 10px;
    inset-inline-end: 0.6em;
    inset-block-start: 0.6em;
    border-inline-end: 1px solid var(--accent-color, #ff0070);
    border-block-start: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    align-self: end;
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 0.6em;
    inset-block-end: 0.6em;
    border-inline-start: 1px solid var(--accent-color, #ff0070);
    border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header_zone {
    display: inline-block;
    position: absolute;
    grid-row: 1 / 2;
    justify-self: end;
    inset-inline-end: 1em;
    top: 10px;
    right: 20px;
}

.header_zone::before {
    content: "REC";
    font-size: 18px;
    padding-inline-end: 0.5em;
    color: var(--accent-color, #ff0070);
}

.header_zone::after {
    content: "";
    display: inline-block;
    block-size: 9px;
    inline-size: 9px;
    top: 8px;
    left: 43px;
    background-color: var(--accent-color, #ff0070);
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #ff0070;
}

.title {
    font-size: var(--mobile-header-clamp);
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
    font-weight: bold;
    line-height: 96px;
    color: var(--title-color);
}

.title-decor {
    display: flex;
    position: relative;
    gap: 3px;
    background-color: var(--color-decorated, #000028);
}

.title-decor_text {
    background-color: var(--color-decorated, #FF0070);
}

.header-text {
    font-size: 18px;
    color: var(--decorated-text-color);
    font-weight: bold;
    line-height: 23.4px;
    margin-bottom: 11px;
}


.main {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}


.main-section {
    display: grid;
    gap: 19px;
    margin-top: 50px;
}

.main-section:first-child {
    margin-top: 40px;
}

.article {
    margin-bottom: 0;
}

.attn-header {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
}

.main-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color, #ff0070);
}

.main-small-title {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: var(--decorated-text-color, #000028);
    background-color: var(--accent-color, #ff0070);
}

.main-article {
    display: grid;
    gap: 13px;
}

.main-paragraph {
    line-height: 130%;
    font-weight: normal;
    font-size: 18px;
    color: var(--main-sections-text-color);
    width: 100%;
}

.main-content .main-paragraph {
    justify-self: center;
}

.p-link {
    text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
    text-decoration: none;
}

.p-link:hover {
    border-bottom: 1px var(--main-sections-text-color);
    text-decoration: underline;
}

.p-link:focus {
    border: 1px solid var(--main-sections-text-color);
    outline: none;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 42px;
    margin-top: 23px;
}

.gallery-image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.gallery-title {
    margin-bottom: 0;
    margin-top: 20px;
}

.pic {
    color: var(--decorated-text-color, #000028);
    background-color: var(--accent-color, #ff0070);
    width: 100%;
    font-size: 18px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    min-height: var(--mobile-header-height);
    height: 100vh;
}

.footer-header {
    text-align: center;
    grid-row: 2;
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
    color: var(--title-color, #db00ff);
    font-weight: bold;
    font-size: var(--mobile-header-clamp);
}

@media (width >= 768px) {
    .header {
        padding: 20px;
    }

    .header__theme-menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: -1px;
    }

    .header-text{
        margin-left: 364px;
        margin-top: 14px;
    }

    .header_zone {
        right: 30px;
        top: 2px;
    }

    .main {
        margin: 0 20px;
    }

    .decorated-zone::after {
        inset-inline-start: 1.3em;
        inset-block-end: 1em;
    }

    .title {
        margin-left: -20px;
    }

    .decorated-zone::before {
        inset-inline-end: 1.3em;
        inset-block-start: 0.1em;
    }

    .main_section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 28px;
    }

    .main_section:first-child {
        margin-top: 60px;
    }

    .main-article {
        line-height: 1.25;
    }

    .attn-header {
        grid-column: -3;
        grid-row: span 2;
    }


    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        grid-column: 1;
    }

    .main-content .main_title {
        width: 32%;
    }

    .main-content .main-paragraph {
        justify-self: center;
    }

    .main-content-section {
        margin-top: 85px;
    }

    .gallery {
        padding-top: 0;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-right: 0;
    }

    .gallery-title {
        grid-column: 1/5;
        grid-row: 1/2;
        margin-bottom: 0;
        margin-top: 7px;
    }

    .sunset {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .ice-cream {
        grid-row: 2/4;
        grid-column-start: 3;
    }

    .tape {
        grid-row: 3/5;
        grid-column: 1/2;
        align-self: stretch;
    }

    .books {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .street {
        grid-row: 4/5;
        grid-column: 2/4;
    }

    .gallery_image {
        height: 100%;
        object-fit: cover;
    }

    .gallery_image :nth-child(1) {
        grid-column: span 2;
    }

    .gallery_image :nth-child(2) {
        grid-row: span 2;
    }

    .gallery_image :nth-child(3) {
        grid-row: span 2;
    }

    .gallery_image :nth-child(5) {
        grid-column: span 2;
    }

    .footer {
        margin-top: 64px;
    }

    .footer .title {
        margin-left: 0px;
    }
}

@media (width >= 1024px) {
    .header_zone::before {
        right: -32px;
    }

    .decorated-zone::after {
        top: 20px;
        right: 20px;
    }

    .title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .main_section {
        gap: 0px;
    }

    .main-content .main-small-title {
        justify-self: start;
    }

    .main-content-section {
        margin-top: 82px;
    }

    .gallery {
        padding-top: 0;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-right: 0;
    }

    .gallery-title {
        grid-column: 1/5;
        grid-row: 1/2;
        margin-bottom: 0;
        margin-right: 20px;
    }

    .sunset {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .ice-cream {
        grid-row: 2/4;
        grid-column-start: 3;
    }

    .tape {
        grid-row: 3/5;
        grid-column: 1/2;
    }

    .books {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .street {
        grid-row: 4/5;
        grid-column: 2/4;
    }

    .gallery_image {
        height: 100%;
        object-fit: cover;
    }

    .footer .decorated-zone {
        top: 81px;
        right: 20px;
    }
}
